<p>login works!</p>
<div class="alert alert-warning alert-dismissible fade show" role="alert" [hidden]="verify == false">
  <strong>Credenciais erradas</strong> Verifique se login e senha estao corretos.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<section class="cointainer d-flex justify-content-center">
  <div class="content d-flex justify-content-center">
    <form>
      <div class="text-center">
        <h1>Bem vindo!</h1>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Login</label>
        <input type="text" class="form-control" name="login" id="exampleInputEmail1" aria-describedby="emailHelp"
          [(ngModel)]="usuario.login">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Senha</label>
        <input type="password" class="form-control" name="senha" id="exampleInputPassword1" [(ngModel)]="usuario.senha">
      </div>
      <button type="submit" class="btn btn-primary" (click)="logar()">Entrar</button>
    </form>
  </div>

</section>
