<p>carrosdetails works!</p>
<div class="container">
  <div class="input-group input-group-lg">
    <span class="input-group-text" id="inputGroup-sizing-lg">Modelo</span>
    <input type="text" class="form-control" aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-lg" [(ngModel)]="carro.nome">
  </div>
  <br>
  <div class="input-group input-group-lg">
    <span class="input-group-text" id="inputGroup-sizing-lg">Ano</span>
    <input type="text" class="form-control" aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-lg" [(ngModel)]="carro.ano">
  </div>
<br>
<button type="button" class="btn btn-primary btn-lg" (click)="salvar()">SALVAR</button>
</div>
